/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nền */
body {
    height: 100vh;
    background: radial-gradient(circle at top, #ffb6c1, #ff4d6d);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
    text-align: center;
}

/* Text */
.text {
    margin-top: 30px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    opacity: 0.9;
}

/* Trái tim */
.heart {
    width: 120px;
    height: 120px;
    background: #ff0033;
    position: relative;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
    box-shadow: 0 0 40px rgba(255, 0, 80, 0.8);
    cursor: pointer;
}

/* Hai nửa trái tim */
.heart::before,
.heart::after {
    content: "";
    width: 120px;
    height: 120px;
    background: #ff0033;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -60px;
    left: 0;
}

.heart::after {
    left: 60px;
    top: 0;
}

/* Hiệu ứng đập */
@keyframes beat {
    0% {
        transform: rotate(-45deg) scale(1);
    }
    50% {
        transform: rotate(-45deg) scale(1.2);
    }
    100% {
        transform: rotate(-45deg) scale(1);
    }
}

/* Hiệu ứng bay */
.float {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0) rotate(-45deg); }
    50% { transform: translateY(-20px) rotate(-45deg); }
    100% { transform: translateY(0) rotate(-45deg); }
}
